{# empty Twig template #}
{% extends 'HBBlogBundle::layout.html.twig' %}

{% block content -%}
    {% for article in pagination %}
        <article class="article">
            <h1>{{ article.title }}</h1>
            <p class="article_infos">
                ajouté le {{ article.creationDate|date('d/m/Y') }} par {{ article.author.name }}
            </p>
            <p class="article_extrait">

                {% if article.content|length > article_max_length %}
                    {{ article.content|slice(0, article_max_length)~'...' }}
                    <a href ="">Lire la suite</a>
                {% else %}
                    {{ article.content }}
                {% endif %}
            </p>
        </article>    

    {% endfor %}   

    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
        
        {{ dump(pagination) }}
{% endblock %}