{# empty Twig template #}
{% extends 'HBBlogBundle::layout.html.twig' %}

{% block content -%}
    {% for article in pagination %}
        <article class="article">
            <h1>{{ article.title }}</h1>
            <p class="article_infos">
                ajouté le {{ article.creationDate|date('d/m/Y') }} par {{ article.author.username }}
            </p>
            <p class="article_extrait">

                {% if article.content|length > article_max_length %}
                    {{ article.content|slice(0, article_max_length)~'...' }}
                    <a href ="{{ path("blog_article_slug", { slug: article.slug }) }}">Lire la suite</a>
                {% else %}
                    {{ article.content }}
                {% endif %}
            </p>
        </article>    
    {% else %}
        Pô d'article à afficher.
    {% endfor %}   

    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
        
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {# <script src="{{ asset("bundles/hbblog/js/homepage.js") }}"></script> #}
    <script>
        $(function() {



            $("article.article").hover(
                function(){
                    $(this).animate({
                            borderWidth: "10px",
                            backgroundColor: "lightSalmon"
                        }, 500);
                },
                function(){
                    $(this).animate({
                            borderWidth: "1px",
                            backgroundColor: "lightGrey"
                        }, 500);
                }
            );

        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .article {
            border: 1px solid lightgrey;
            margin-bottom: 6px;
            padding: 6px;
            background: #fff;
            
        }
        
        .article h1 {
            line-height: 0.8em;
        }
        
        .article p.article_infos {
            font-style: italic;
            font-size: 0.8em;
        }
        
        .article_actif {
            border: 10px solid darkgrey!important;
            background-color: lightsalmon!important;
        }
        .article_actif h1 {
            color: darkgoldenrod;
        }
        
    </style>
{% endblock %}