{% extends 'HBBlogBundle::layout.html.twig' %}


{% block title %}{{ parent() }} - {{ article.title }} {% endblock %}


{% block content -%}<h2>Affichage de l'article {{ article.id }}</h2>

<h1>{{ article.title }}</h1>

<p>{{ article.content }}</p>

<p><a href="{{ path('article_list') }}">Retour à la liste</a></p>
<p><a href="{{ path('article_edit',{'id':article.id}) }}">éditer</a>
- <a href="{{ path('article_delete',{'id':article.id}) }}">supprimer</a></p>

{% endblock %}


